@media (max-width: 1366px) {
    .header {
        background-color: rgba(255, 255, 255, .2);
        padding: 25px 0;
        top: 0;
    }

    body {
        font-size: 16px;
        line-height: 22px;
    }


    .top__title {
        font-size: 75px;
        line-height: 90px;
        margin-bottom: 20px;
    }

    .top__inner>img {
        max-width: 80%;
        height: auto;
    }

    .top__text {
        margin: 15px 0 25px;
    }

    .title {
        padding-top: 90px;
    }

    .products__slider-box {
        padding-top: 0px;
    }

    .products__slider-text {
        bottom: auto;
        left: auto;
        right: 0;
        top: -105px;
    }

    .title__benefits--indent {
        padding-top: 10px;
        margin-bottom: 45px;
    }

    .benefits__items {
        justify-content: center;
    }

    .benefits__item {
        margin-bottom: 50px;
    }

    .benefits__item {
        width: 45%;
    }

    .benefits__item:first-child::before {
        width: 37%;
        top: 22%;
        right: -6%;
    }

    .benefits__item:nth-child(2)::before {
        width: 80%;
        height: 33%;
        bottom: -55%;
        transform: rotate(-17deg);
        right: 88%;
    }

    .benefits__item:nth-child(3)::before {
        width: 40%;
        height: 23%;
        bottom: 34%;
        right: -5%;
    }

    .specification__box-2 {
        margin-top: 115px;
    }

    .specification__box-3::before {
        width: 316px;
        height: 128px;
        top: 8px;
        right: 307px;
    }

    .specification__box-4::before {
        width: 134px;
        height: 101px;
        bottom: 78px;
        left: -208px;
    }


    .specification__item {
        img {
            max-width: 80%;
            text-align: center;
        }
    }

    .specification__box-2::before {
        width: 382px;
        height: 89px;
        bottom: 65px;
        left: 128px;
    }

    .specification {
        .title {
            padding-top: 40px;
        }
    }

    .questions {
        .title {
            padding-top: 40px;
            margin-bottom: 20px;
        }
    }

    .questions__item-title {
        line-height: 22px;
        font-size: 18px;
        padding: 16px 10px 16px 30px;
    }

    .questions__item-text {
        padding: 0 5px 40px 30px;
    }

    .questions__item-title::after {
        width: 60px;
        height: 54px;
        right: -60px;
    }

    .questions__items {
        padding-right: 60px;
    }

    .questions__item-text {
        padding: 0 15px 40px 30px;
    }
}

@media (max-width: 1280px) {
    .benefits__item {
        width: 45%;
    }

    .benefits__item:first-child::before {
        width: 37%;
        top: 22%;
        right: -2%;
    }

    .benefits__item:nth-child(2)::before {
        width: 71%;
        height: 62%;
        bottom: -66%;
        transform: rotate(-9deg);
        right: 90%;
    }

    .benefits__item:nth-child(3)::before {
        width: 46%;
        height: 23%;
        bottom: 36%;
        right: -5%;
    }
}

@media (max-width: 1200px) {
    .benefits__item:first-child::before {
        width: 31%;
        right: 1%;
        top: 34%;
    }

    .benefits__item:nth-child(2)::before {
        width: 71%;
        height: 62%;
        bottom: -66%;
        transform: rotate(-9deg);
        right: 90%;
    }

}

@media (max-width: 1160px) {

    .specification__box-1::before {
        width: 153px;
        height: 77px;
        top: 76px;
        left: 193px;
    }

    .specification__box-2::before {
        width: 322px;
        height: 61px;
        bottom: 94px;
        left: 110px;
    }

    .specification__box-3::before {
        top: 42px;
        right: 285px;
    }
}

@media (max-width: 1100px) {
    .menu {
        order: 1;
    }

    .menu__list {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(#1c1c1c, .9);
        z-index: -1;
        display: flex;
        padding-top: 90px;
        padding-left: 24px;
        flex-direction: column;
        justify-content: space-around;
        transform: translateY(-1000%);
        transition: transform .5s;
        overflow: auto;

        &--active {
            transform: translateY(0);
        }

    }

    .menu li+li {
        padding-left: 0;
    }

    .menu__list-item {
        margin-bottom: 35px;

        &:first-child {
            margin-top: auto;
        }
    }

    .menu__list-phone,
    .menu__list-link {
        display: block;
        color: #ffffff;
        font-size: 15px;
        line-height: 17px;
    }

    .menu__list-phone {
        padding-top: 33px;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;

        &::before {
            content: '';
            position: absolute;
            border-top: 1px solid rgba(#fff, .24);
            top: 0;
            left: -24px;
            right: 0;

        }
    }

    .header__phone-menu {
        color: #ffffff;
        line-height: 17px;
        font-family: "Ubuntu-Bold", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    .menu__btn {
        display: inline-block;
        margin: 0 13px 0;
        cursor: pointer;
        z-index: 5000;
    }

    .menu__btn-line-1,
    .menu__btn-line-2 {
        width: 24px;
        height: 2px;
        background-color: #e0e0e0;
        margin-bottom: 4px;
        transition: transform .3s;
    }

    .menu__btn-line-3 {
        background-color: #e0e0e0;
        margin-bottom: 0;
        width: 14px;
        height: 2px;
        margin-left: auto;
        transition: all 0.4s;
    }

    .menu__btn.menu__btn--active {
        .menu__btn-line-1 {
            transform: translate(0, 6px) rotate(-45deg);
        }

        .menu__btn-line-2 {
            opacity: 0;
        }

        .menu__btn-line-3 {
            width: 24px;
            margin: 0;
            transform: translate(0, -6px) rotate(45deg);
        }
    }

    .header__phone {
        display: none;
    }

    .header__btn {
        margin-right: 0;
    }

    .products__slider-text {
        padding-right: 15px;
        ;
    }

    .products__slider-box {
        margin-right: 20px;
    }

    .benefits__item:first-child::before,
    .benefits__item:nth-child(2)::before,
    .benefits__item:nth-child(3)::before {
        display: none;
    }

    .benefits__items {
        display: block;
        margin-left: 20px;
    }

    .benefits__item:nth-child(even) {
        margin-left: 200px;
        margin-bottom: 40px;
    }

    .benefits__item {
        width: 100%;
        margin: 0 0 40px;
    }

    .benefits__info {
        width: 35%;
    }

}

@media (max-width: 1024px) {
    .title {
        padding-top: 50px;
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .products__slider-text {
        font-size: 20px;
        line-height: 22px;
        top: -85px;
    }

    .specification__box-1::before,
    .specification__box-2::before,
    .specification__box-3::before,
    .specification__box-4::before {
        display: none;
    }

    .specification__item--center {
        margin: 0;
    }

    .specification__item--wrapper {
        text-align: center;
        margin-left: -30px;
        margin-right: -30px;
    }
}

@media (max-width: 940px) {
    .products__inner {
        display: block;
    }

    .products__text {
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 140px;
    }

    .products__slider {
        margin-left: auto;
    }

    .products {
        padding-bottom: 100px;
    }

    .products__slider-box {
        margin-bottom: 80px;
    }

    .contacts__inner {
        flex-wrap: wrap;
    }

    .contacts__form {
        width: 100%;
        margin-right: 0;
        order: 1;
    }
}

@media (max-width: 877px) {

    .specification__box-2,
    .specification__box-4 {
        margin-top: 50px;
    }

    .specification__item--wrapper {
        max-width: fit-content;
    }

    .questions__items {
        max-width: 700px;
        padding: 20px;
    }
}

@media (max-width: 787px) {
    .benefits__item:nth-child(even) {
        margin-left: 0;
    }

    .benefits__item:nth-child(3) {
        margin-left: 0;
    }

    .benefits__item {
        padding-left: 0;
    }

    .benefits__info {
        width: 100%
    }

    .specification__inner {
        display: block;
    }

    .specification__box {
        max-width: 100%;
    }

    .specification__item--wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .specification__box-2,
    .specification__box-4 {
        margin-top: 25px;
    }

    .questions__items {
        max-width: 600px;
    }

    .fp-is-overflow .fp-overflow.fp-auto-height-responsive,
    .fp-is-overflow .fp-overflow.fp-auto-height,
    .fp-is-overflow>.fp-overflow {
        overflow-x: hidden;
    }

    .questions__item:nth-child(3)::before {
        display: none;
    }
}

@media(max-width: 720px) {
    .questions__items {
        max-width: 600px;
    }

    .questions__item {

        max-width: 80%;
    }

    .contacts__inner {
        padding-left: 20px;
    }

}

@media (max-width: 680px) {
    .products__inner {
        padding-left: 5px;

    }

    .title {
        padding-left: auto;
        padding-right: auto;
        padding-top: 40px;
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .products__text p {
        margin-bottom: 10px;
    }

    .products__text {
        margin-bottom: 100px;
    }

    .products__slider {
        max-width: 100%;

        &::before {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
        }
    }

    .products__slider-box {
        margin-bottom: 60px;
    }

    .questions__items {
        max-width: 500px;
    }

    .questions__item {
        max-width: 65%;
    }

    .questions__item-title {
        line-height: 22px;
        font-size: 14px;
        padding: 16px 10px 16px 20px;
    }

    .questions__item-text {
        font-size: 14px;
    }
}

@media (max-width: 540px) {
    .header__inner {
        margin: 0 9px 0;
    }

    .top {
        padding-top: 157px;
    }

    .top__title {
        display: none;

    }

    .top__text {
        width: 288px;
        margin: 15px 0 30%;

    }

    .scroll-btn {
        padding: 13px 0;
    }

    .benefits__item {
        display: block;
    }

    .benefits__img {
        padding: 20px 0;

        img {
            display: block;
            margin-left: auto;
        }
    }

    .benefits__img::before {
        top: 8px;
    }

    .questions__item {
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .questions__items {
        max-width: 350px;
    }

    .questions__item {
        max-width: 40%;
    }
}


@media (max-width: 414px) {
    .contacts__form-line {
        display: block;
    }

    .contacts__form-input {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .contacts__social-list{
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

}

@media (max-width: 375px) {
    .menu__list-phone {
        padding: 15px 0;
    }

    .menu__list-item {
        margin-bottom: 18px;
    }

    .questions__item-title {
        padding: 5px 5px 5px 10px;
    }

    .questions__item-text {
        padding: 0 5px 5px 15px;
    }
}

@media (max-width: 340px) {
    .questions__item {
        max-width: 30%;
    }
}