@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: fixed;
    left: 0;
    top: 30px;
    right: 0;
    z-index: 10;


    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        line-height: 17px;
        @extend %ub-medium;
    }

    &__btn {
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: #000;
            background-color: #fff;
        }

    }

    &__phone {
        font-size: 16px;
        margin-right: 8px;
        line-height: 18px;
        @extend %ub-bold;
    }
}
.logo_img{
    margin-left: 11px;
}

.menu {
    &__list-item {
        display: inline-block;
    }

    li+li {
        padding-left: 20px;
    }
    &__list-phone{
        display: none;
    }
    &__btn{
        display: none;
    }
}

.top {
    background-image: url('../images/top-bg.jpg');
    

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    &__title {
        color: #FFF;
        font-size: 96px;
        line-height: 114px;
        @extend %sf-semibold;
        margin-bottom: 25px;
        margin-top: 20%;
    }

    &__text {
        margin: 25px 0 35px;
        max-width: 325px;
    }

    &__social-item {
        display: inline-block;
        margin: 0 25px;
    }

    &__social-link {
        opacity: 0.5;
        transition: all .3s;

        &:hover {
            opacity: 1;
        }
    }
}

.products {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }

    &__text {
        max-width: 440px;

        p {
            margin-bottom: 30px;
        }
    }

    &__slider-box {
        position: relative;
        padding-top: 110px;
    }

    &__slider-text {
        width: 280px;
        position: absolute;
        text-align: right;
        font-size: 24px;
        line-height: 28px;
        @extend %ub-medium;
        bottom: 30px;
        left: -247px;
        z-index: 2;

    }

    &__slider {
        max-width: 560px;

        &::before {
            content: "";
            position: absolute;
            width: 560px;
            height: 276px;
            border: 4px solid #fff;
            top: -15px;
            right: -17px;
        }
    }

}

.slider-btn {
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 5;
    bottom: -48px;

    svg {
        stroke: #000;
    }

    &__left {
        right: 60px;
    }

    &.slick-disabled {
        background-color: #000;

        svg {
            stroke: #fff;
        }
    }
}

.benefits {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


    }

    &__item {
        margin-bottom: 100px;
        display: flex;
        align-items: flex-end;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
        }

        &:nth-child(even) {
            margin-bottom: 80px;
        }

        &:nth-child(3) {
            margin-left: 50px;
        }

        &:nth-child(4) {
            margin-right: -50px;
        }



        &:first-child {
            &::before {
                height: 48px;
                width: 245px;
                background-image: url(../images/line-1.svg);
                top: 32px;
                right: -67px;
                z-index: 15;

            }
        }

        &:nth-child(2) {
            &::before {
                height: 62px;
                width: 462px;
                background-image: url(../images/line-2.svg);
                bottom: -59px;
                right: 538px;
                z-index: 20;
            }
        }

        &:nth-child(3) {
            &::before {
                height: 42px;
                width: 254px;
                background-image: url(../images/line-3.svg);
                bottom: 76px;
                right: -90px;
                z-index: 25;
            }
        }
    }

    &__num {
        line-height: 41px;
        font-size: 36px;
        @extend %ub-bold;
        margin-right: 10px;
    }

    &__img {
        position: relative;
        margin-right: 32px;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            width: 193px;
            height: 128px;
            border: 2px solid #fff;
            top: -12px;
            right: -12px;
            z-index: -1;
        }
    }

    &__info {
        width: 300px;
    }

    &__info-title {
        width: 123px;
        font-size: 21px;
        @extend %ub-bold;
        line-height: 24px;
        margin-bottom: 10px;
    }

    &__info-text {
        font-size: 15px;
        line-height: 19px;
    }
}

.specification {
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 25px;

    }

    &__item--center {
        margin-left: -15px;
        margin-right: -15px;
    }

   

    &__box {
        max-width: 280px;
        position: relative;
        margin-top: 10px;

        &::before {
            content: " ";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
        }
    }

    &__box-2 {
        margin-top: 140px;
    }

    &__box-4 {
        margin-top: 160px;
    }

    &__box-1::before {
        background-image: url('../images/pointer-1.svg');
        width: 232px;
        height: 116px;
        top: 13px;
        left: 193px;
    }

    &__box-2::before {
        background-image: url('../images/pointer-2.svg');
        width: 331px;
        height: 77px;
        bottom: 79px;
        left: 235px;
    }

    &__box-3::before {
        background-image: url('../images/pointer-3.svg');
        width: 246px;
        height: 103px;
        top: 16px;
        right: 298px;
    }


    &__box-4::before {
        background-image: url('../images/pointer-4.svg');
        width: 109px;
        height: 81px;
        bottom: 116px;
        left: -126px;
    }

    &__box-title {
        @extend %ub-bold;
        font-size: 21px;
        line-height: 28px;
        color: #FFF;

    }

    &__box-text {
        @extend %ub-light;
        font-size: 15px;
        line-height: 18px;
    }
}

.questions {
    &__items {
        min-width: 757px;
        padding-bottom: 15px;
    }

    &__item {
        background: rgba(0, 0, 0, 0.3);
        max-width: 690px;
        position: relative;

        &:nth-child(3)::before {
            content: "";
            position: absolute;
            width: 319px;
            height: 125px;
            top: -33px;
            right: -386px;
            background-image: url('../images/questions-bg.png');
        }
    }

    &__item-title {
        font-size: 21px;
        line-height: 28px;
        @extend %ub-medium;
        color: rgba(#fff, .8);
        padding: 20px 10px 20px 40px;
        position: relative;
        cursor: pointer;
        margin-bottom: 4px;

        &::after {
            content: url('../images/question-arrow.svg');
            position: absolute;
            width: 72px;
            height: 67px;
            background-color: #FFF;
            right: -72px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__item-text {
        font-size: 15px;
        line-height: 22px;
        padding: 0 5px 75px 50px;
        margin: 0 0 4px;
        display: none;
    }

    &__item.questions__item--active {
        .questions__item-title::after {
            transform: rotate(180deg);
        }

        .questions__item-text {
            display: block;

        }
    }
}

.contacts {
    &__inner {
        display: flex;
        padding-left: 50px;
    }

    &__info {
        width: 240px;
        margin-right: 60px;
    }

    &__info-box {
        margin-bottom: 30px;
    }

    &__info-title {
        line-height: 24px;
        font-size: 21px;
        @extend %ub-bold;
        margin: 0 0 13px;
    }

    &__info-phone,
    &__info-email {
        font-size: 15px;
        line-height: 18px;
    }

    &__info-email:hover {
        text-decoration: underline;
    }

    &__form {
        width: 570px;
        margin-right: 106px;
    }

    &__form-title {
        line-height: 24px;
        font-size: 21px;
        @extend %ub-bold;
        margin-bottom: 13px;
    }

    &__form-text {
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 12px;
    }

    &__form-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__form-textarea,
    &__form-input{
        border: none;
        @extend %ub-regular;
        background: rgba(0, 0, 0, 0.5);
        padding: 15px;
        font-size: 13px;
        line-height: 15px;
        color: #FFF;
        &::placeholder{
            color: rgba(#fff, .4);
        }
    }
 
    &__form-input {
        width: 49%;
    }

    &__form-textarea {
        min-height: 144px;
        width: 100%;
        resize: none;
        margin-bottom: 20px;
    }

    &__form-btn {
        text-transform: uppercase;
        @extend %ub-bold;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.03em;
        padding: 9px 15px;
        border: 2px solid #fff;
        border-radius: 2px;
        background-color: transparent;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &__social-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__social-item{
        margin: 14px 0;
    }
    &__social-link{
        opacity: .5;
        transition: .3s;
        &:hover{
            opacity: 1;
        }
    }
    .footer{
        position: absolute;
        bottom: 32px;
        left: 0;
        right: 0;
        &__copy{
            text-align:right;
            color: rgba(#fff, .64);
            font-size: 13px;
            line-height: 17px;
        }
    }
    
}




@import "media";